# Dependencias
node_modules/

# Archivos de entorno
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos generados por Nuxt
.nuxt/
.output/
dist/

# Archivos del sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db